VITE_DERIV_APP_ID=111810
VITE_DERIV_CLIENT_ID=32FjINZV8sXfdKQcVvnZf
VITE_DERIV_SCOPE=trade account_manage
VITE_REDIRECT_URI=https://ais-pre-z23cim5lqjemrj363e6x2r-81414754947.asia-east1.run.app/callback
VITE_AFFILIATE_TOKEN=ryvn0GECp3JB4VdSfJsOp2Nd7ZgqdRLk
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
TELEGRAM_BOT_TOKEN=
SESSION_SECRET=
