VITE_DERIV_CLIENT_ID=
VITE_DERIV_SCOPE="trade account_manage"
VITE_DERIV_APP_ID=
VITE_DERIV_AFFILIATE_ID=
VITE_UTM_CAMPAIGN=Tele-trader
SESSION_SECRET=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
